<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Login Page</title>
</head>
<body>

    <div class="navBar">
        <div class="glitch-wrapper">
            <div class="glitch" data-glitch="WHAT'S FOR DINNER?">WHAT'S FOR DINNER?</div>
        </div>
    </div>

    <div class="errors">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-white">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="indexContent">
        <div class="register">
            <h1 class="registerH1">REGISTER</h1>
            <form action="/register" method="POST">
                
                <div>
                    <label class="labelStyle" for="username">Username:</label>
                    <input class="form-control" type="text" name="username">
                </div>

                <label class="labelStyle" for="email">Email:</label>
                <input class="form-control" type="text" name="email">
                
                <label class="labelStyle" for="register_password">Password:</label>
                <input class="form-control" type="password" name="register_password">
                
                <label class="labelStyle" for="confirm_password">Confirm Password:</label>
                <input class="form-control" type="password" name="confirm_password">

                <input class="registerButton" type="submit" value="Register">
            </form>
        </div>

        <div class="login">
            <h1 class="loginH1">LOGIN</h1>
            <form action="/login" method="POST">
                <label class="labelStyle" for="email">Email:</label>
                <input class="form-control" type="text" name="email">
                
                <label class="labelStyle" for="login_password">Password:</label>
                <input class="form-control" type="password" name="login_password">
                
                <input class="loginButton" type="submit" value="Login">
            </form>
        </div>
    </div>

</body>
</html>